@{
    ViewData["Title"] = "Kundkorg";
}
<h1 style="color:white;">@ViewData["Title"]</h1>
<div class="Currentcart">
    <h3 style="color:#8c8c8c;">Valda varor</h3>
    <h3 style="color:#8c8c8c;">Antal varor</h3>
    <h3 style="color:#8c8c8c;">Valt antal</h3>
</div>
<div class="Currentcart">
<h4>Ankarspik EFZ 50X4.0</h4>
<h4>10 St</h4>
<h4>1 st</h4>
</div>
<button class="remove">X</button>
<br /> <hr />
<button style="background-color: orangered;"> Rensa lista</button>
<button style="background-color: yellow;">Spara lista</button>
<br />
<br />
<div class="bestresult">
    <h2 style="color:white; font-weight: bold;">Bästa resultatet</h2>
    <h2 style="color:white;">Bauhaus Bromma</h2>
    <h3 style="color:#8c8c8c;">Vara</h3>
    <h3 style="color:#8c8c8c;">Antal</h3>
    <h3 style="color:#8c8c8c;">Summa</h3>
    <h4 style="color:white;"> ANKARSPIK PINTOS 50X4,0</h4>
    <h4 style="color:white;"> 1 ST</h4>
    <h4 class="price" style="color:white;">79,95 KR </h4>
    <button class="bskwebb">Besök webbplats</button>
</div>

<div style="margin-bottom:300px;" class="otherresult">
    <h2 style="color:white;">Resterande butiker</h2>
    <h3 style="color:#8c8c8c;">Butik</h3>
    <h3 style="color:#8c8c8c;">Antal</h3>
    <h3 style="color:#8c8c8c;">Summa</h3>
    <h4 style="color:white;"> Optimera Aneby</h4>
    <h4 style="color:white;"> 1 ST</h4>
    <h4 class="price2" style="color:white;">79,95 KR </h4>
    <h4 style="color:white;"> K-rauta Bromma </h4>
    <h4 style="color:white;"> 1 ST</h4>
    <h4 class="price2" style="color:white;">89,95 KR </h4>
    <h4 style="color:white;"> Bygg-Ole,Nacka</h4>
    <h4 style="color:white;"> 1 ST</h4>
    <h4 class="price2" style="color:white;">99,95 KR </h4>
</div>
<div class="space">

</div>

