@{
    ViewData["Title"] = "GuideExmpl";
}


<h1 style="color:white;">Här är sidan för varje guide som man kommer till efter att ha klickat på bilden.</h1>
<div style="width:100%; height: 800px;">

</div>