@{
    ViewData["Title"] = "GuideExmpl";
}


<h1 style="color:white;">Lilla Isoleringsskolan</h1>
<img style="width:400px; height:650px; margin-bottom: 10px;" src="~/images/MaterialtabellLamdaAnvandning.png" />
<div class="tguide1">
    <div class="tguide2">
        <p>
            Ett hus utan isolering är inget mer än ett skal. Ett hus behöver isolering behövs eftersom naturen strävar efter att utjämna temperaturskillnader, till exempel mellan ute och inne. I första hand är det därför isoleringen behövs, för att bromsa kyla från att tränga in i ett varmt hus eller hetta från att komma in i ett svalt hus. Men isoleringen har även fler uppgifter, den dämpar också ljud i huset och kan ha en bromsande effekt på bränder. För att få dessa effekter – och för att undvika fuktskador – ska exempelvis en vägg bestå av flera skikt. Inifrån och ut är det; - Ytskikt med ångspärr (plastfolie) - Isolering - Vindskydd - Luftspalt - Ytskikt utsida

            <br /><br /><strong>Olika material har olika funktioner</strong>

            <br /> Innanför ytskiktet på insidan av en vägg sitter ett lufttätande plastskikt, en film eller folie. När den varma och fuktiga inomhusluften vandrar mot den kallare utsidan hindrar plasten fukten i luften från att gå genom väggen, kylas ner, kondensera och orsaka fuktskador. Skiktet efter plasten är isoleringen. Den gör att luften stannar vilket bromsar värmeledning. Mellan isoleringen och fasaden är isoleringsmaterialet täckt med ett vindskydd. Det finns där för att säkra att stillastående luft i isoleringen ska fortsätta vara stilla och behålla sin temperatur. Sista skiktet innan ytterväggen är en luftspalt som ser till att kondens, fukt och vatten kan dräneras bort.



            <br /><br /><strong>Vilken typ av ventilation har du?</strong>

            <br />Det är viktigt att veta vilken typ av ventilation som finns i huset. Är ventilationen ett utpräglat från- och tilluftsystem ska huset ska vara helt tätt. Har huset däremot ett självdragsystem eller frånluftsventilation, som bygger på att luft ska komma in, kan det bli problem med inneklimatet vid överdriven tätning.



            <br /><br /><strong>Luftiga, lätta material ger god isolering</strong>

            <br />Material som håller kvar värme länge är bra isoleringsmaterial. Tunga, täta material – exempelvis metaller– leder värme snabbt och isolerar dåligt. Porösa, lätta material – exempelvis ull – överför värme långsamt och isolerar bra.

            Till värmeisolering i byggnader används bland annat linull, skumplast, fogskum, mineralull (glasull eller stenull) och behandlad cellulosa. Traditionellt har träspån, torv – till och med halm och mossa – varit vanliga isoleringsmaterial.

            För att slippa göra i första hand väggar onödigt tjocka använder man olika metoder för att göra olika material lätta, porösa och luftfyllda men samtidigt stabila nog att fylla sitt syfte – exempelvis lättbetong eller håltegel.
            
            <br /><br /><strong>Täta fönster och dörrar!</strong>

            <br />En förhållandevis billig och enkel åtgärd för att spara energi och pengar är att täta fönster och dörrar. Även enkla åtgärder, med tätningslister, dammlister etc, kan ge märkbart minskade uppvärmningskostnader. Fönster ska tätas olika beroende på om de är in- eller utåtgående. Följ tillverkarnas rekommendationer. En bra utförd tätning minskar också drag, buller och kondens.



            <br /><br /><strong>Om du bygger nytt</strong>

            <br />När du bygger nytt är det viktigt att göra arbetet med isoleringen på rätt sätt från början. Merkostnaden av att lägga på lite extra pengar på isolering blir betydligt lägre än vad det kostar att göra det efteråt, när huset redan står klart.
        </p>
    </div>
</div>
<img style="width:400px; height:400px; margin-bottom: 20px;" src="~/images/U-värde-illustration.png" />
