@{
    ViewData["Title"] = "Navigering";
}
<h1 style="color:white;"><strong>@ViewData["Title"]</strong></h1>
<div class="navi">
    <div class="navi1">
        <h2>Guider</h2>
        <ul>
            <li><a href="#">Träguiden</a></li>
            <li><a href="#">Skruvguiden</a></li>
            <li><a href="#">Isoleringsguiden</a> </li>
            <li><a href="#">Sten och Plattsättarguiden</a></li>
            <li><a href="#">Stödmursguiden</a></li>
        </ul>
    </div>
    <div class="navi2">
        <h2>Byggprojekt</h2>
        <ul>
            <li><a href="#">Altan</a></li>
            <li><a href="#">Balkong</a> </li>
            <li><a href="#">Bockar</a> </li>
            <li><a href="#">Bodar och uthus</a></li>
            <li><a href="#">Bryggor</a></li>
            <li><a href="#">Carport</a></li>
            <li><a href="#">Dörrar</a></li>
            <li><a href="#">Fönster</a></li>
            <li><a href="#">Förråd</a></li>
            <li><a href="#">Förstukvist</a></li>
            <li><a href="#">Garage</a></li>
            <li><a href="#">Gjuta</a></li>
            <li><a href="#">Grindar</a></li>
            <li><a href="#">Husfasad</a></li>
            <li><a href="#">Innerväggar och innertak</a></li>
            <li><a href="#">Lådor</a></li>
            <li><a href="#">Lusthus</a></li>
            <li><a href="#">Ramper</a></li>
            <li><a href="#">Skor</a></li>
            <li><a href="#">Sten och plattsättning</a></li>
            <li><a href="#">Stolar, bänkar och bord</a></li>
            <li><a href="#">Stugor </a></li>
            <li><a href="#">Trädäck</a></li>
            <li><a href="#">Trappor ute</a></li>
            <li><a href="#">Viltvård natur</a></li>
            <li><a href="#">Yttertak</a></li>
        </ul>
    </div>
    <div class="navi3">
        <h2>Byggvaror</h2>
        <ul>
            <li><a href="#">Träprodukter</a></li>
            <li><a href="#">Utrustning</a></li>
            <li><a href="#">Verktyg</a></li>
            <li><a href="#">Inredning</a></li>
            <li><a href="#">Infästning & Beslag</a></li>
            <li><a href="#">Isolering & Skrivor</a></li>
            <li><a href="#">Grund & Gjutning</a></li>
            <li><a href="#">Tryckt virke & Markprodukter</a></li>
            <li><a href="#">Tak</a></li>
            <li><a href="#">Dörrar & Fönster</a></li>
            <li><a href="#">El</a></li>
            <li><a href="#">Inredningsmaterial & Färg</a></li>
            <li><a href="#">VVS</a></li>
            <li><a href="#">Golv & Mattor</a></li>
            <li><a href="#">Elradiatorer</a></li>
            <li><a href="#">Stegar</a></li>
            <li><a href="#">Bodar & Uthus</a></li>
            <li><a href="#">Kompressorer</a></li>
        </ul>
    </div>
    <div class="navi5">
        <h2>Övrigt</h2>
        <ul>
            <li><a href="#">Kampanjpriser </a></li>
            <li><a href="#">Om oss</a></li>
            <li><a href="#">Press </a></li>
        </ul>
    </div>
    <div class="navi4">
        <h1>Planeringsverktyg</h1>
        <ul>
            <li><a href="#">Altanplaneraren </a></li>
            <li><a href="#">Staketplaneraren</a></li>
            <li><a href="#">Takplaneraren </a></li>
            <li><a href="#">Fasadplaneraren </a></li>
            <li><a href="#">Virkesåtgång </a></li>
        </ul>
    </div>
</div>