@{
    ViewData["Title"] = "GuideExmpl";
}


<h1 style="color:white;">Lilla Träskolan</h1>
    <img style="width:400px; height:400px; margin-bottom: 10px;" src="~/images/Tra_uppbyggnad_1.jpg" />
<div class="tguide1">
    <div class="tguide2">
        <p>
            Trä är ett klokt val. Det finns trähus som är mer än 1000 år gamla och trä har använts som byggnadsmaterial sedan den första människan ville bygga något som liknade ett hus. Trä är bevisligen ett tåligt och bra byggnadsmaterial som åldras med värdighet. Att det dessutom går att underhålla till rimliga kostnader är ytterligare ett plus. I likhet med de flesta byggnadsmaterial påverkas också trä av temperaturen och av hur fuktigt det är. Trä sväller när det är fuktigt och krymper när det är torrt. Det ställer krav både på byggmetoder och vilka material man använder. Det som sväller och krymper mest är ändorna, kapytorna. Det är därför de bör skyddas, exempelvis med impregnering eller målning. <br /> <br />

            <strong>Använd rätt virke</strong> <br />
            På våra breddgrader är det vanligast byggmaterialet gran, i andra hand furu. Till ytterpaneler bör man använda gran därför att granen tar upp fukt långsammare än furu Inomhus – i finhyvlat virke som lister eller paneler  – är sedan länge furu det vanligaste och gran andravalet, men även lövträd som bok, björk och ek förekommer.
            Kvaliteten på virket beror på trädets genetiska egenskaper, var det vuxit och hur området det vuxit i har skött om, gallrat och röjts. Kvaliteten varierar också mellan olika delar av en stam. Det beror på att trädets tillväxt varierar beroende på om det är ungt eller gammalt och det gör att rotstock och topp kan lämpa sig för olika produkter.
            I valet mellan två dimensioner bör du så gott som alltid välja den grövre, eftersom en alltför tunn bräda lättare spricker eller böjer sig. När det gäller bärande konstruktioner – takstolar, bjälkar etc. – bör de alltid dimensioneras av en byggnadskonstruktör eller byggnadsingenjör.

            <br /><br /><strong>Liten virkesordlista</strong> <br /><br />

            <strong>Ohyvlat virke:</strong> Är precis vad det låter som. Ersätts alltmer av dimensionshyvlat virke. <br /><br />

            <strong>Dimensionshyvlat virke:</strong> Virke som hyvlats på alla fyra sidorna för att få ett visst mått. Ger en förhållandevis grov yta och används företrädesvis inbyggt.

            <br /><br /><strong>Råhyvlat (råplanat) virke:</strong> Med rektangulärt tvärsnitt. Den ena flata sidan är ohyvlad, övriga hyvlade.

            <br /><br /><strong>Planhyvlat (släthyvlat) virke:</strong> Har fyra hyvlade sidor. Ser bättre ut än dimensionshyvlat virke och används oftast till synliga inomhusytor.

            <br /><br /><strong>Virke med finsågad yta:</strong> Virke som kluvits efter torkning. Används på grund av sin ohyvlade yta fränst till ytterpaneler där det är viktigt att färg kan få bra fäste.

            <br /><br /><strong>Spontat virke: Har fjäder (spont)</strong> på ena kanten och not (ränna, spår) på andra för att kunna sammanfogas.

            <br /><br /><strong>Falsat virke:</strong> Har vinkelrät skärning längs kanterna som gör att bräderna (vanligtvis panelbräder) överlappar varandra.

            <br /><br /> <strong>Kvaliteter</strong>
            <br />Gran och furu sorteras oftast i de olika kvaliteterna G4-0, G4-1, G4-2, G4-3. De bästa är G4-0 och G4-1. Som byggvirke används oftast G4-2 men också G4-3. Till golv, paneler och lister används företrädesvis G4-0 och G4-1.
            <br />Konstruktionsvirke – för bärande konstruktioner som takstolar och golvbjälkar – delas in i hållfasthetsklasserna C30, C24, C18 och C14.
            <br />Är spännvidderna längre än fem meter används gärna limträbalkar.
            <br /><br />

            <strong>Impregnerat virke</strong><br />
            För användning utomhus behöver du impregnerat virke. Håll koll på att du köper virke i rätt skyddsklass. Klass A och AB är det man vanligtvis kalla tryckimpregnerat virke. NTR/B är till för färdigbearbetade snickerier – så gott som uteslutande träfönster. NTR/A för konstruktioner i kontakt med mark, NTR/B där konstruktioner inte är i kontakt med mark. NTR/M nära havet och med risk för angrepp av skeppsmask.
            Observera att trä som impregnerats med arsenik, krom eller kreosot inte får användas i huspaneler.

        </p>
    </div>
</div>

<img style="width:400px; height:650px; margin-bottom: 20px;" src="~/images/Virkestyper_2.jpg" />